<div>
  <h2 id="page-heading" data-cy="CheckPointHeading">
    <span jhiTranslate="albatestApp.checkPoint.home.title">Check Points</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="albatestApp.checkPoint.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-check-point"
        [routerLink]="['/check-point/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="albatestApp.checkPoint.home.createLabel"> Create a new Check Point </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="checkPoints?.length === 0">
    <span jhiTranslate="albatestApp.checkPoint.home.notFound">No checkPoints found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="checkPoints && checkPoints.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="albatestApp.checkPoint.friendlyname">Friendlyname</span></th>
          <th scope="col"><span jhiTranslate="albatestApp.checkPoint.location">Location</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let checkPoint of checkPoints; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/check-point', checkPoint.id, 'view']">{{ checkPoint.id }}</a>
          </td>
          <td>{{ checkPoint.friendlyname }}</td>
          <td>
            <div *ngIf="checkPoint.location">
              <a [routerLink]="['/location', checkPoint.location?.id, 'view']">{{ checkPoint.location?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/check-point', checkPoint.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/check-point', checkPoint.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(checkPoint)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
