<div>
  <h2 id="page-heading" data-cy="OperatorHeading">
    <span jhiTranslate="albatestApp.operator.home.title">Operators</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="albatestApp.operator.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-operator"
        [routerLink]="['/operator/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="albatestApp.operator.home.createLabel"> Create a new Operator </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="operators?.length === 0">
    <span jhiTranslate="albatestApp.operator.home.notFound">No operators found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="operators && operators.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="albatestApp.operator.kindOfOperator">Kind Of Operator</span></th>
          <th scope="col"><span jhiTranslate="albatestApp.operator.personalInformation">Personal Information</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let operator of operators; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/operator', operator.id, 'view']">{{ operator.id }}</a>
          </td>
          <td jhiTranslate="{{ 'albatestApp.KindOfOperator.' + operator.kindOfOperator }}">{{ operator.kindOfOperator }}</td>
          <td>
            <div *ngIf="operator.personalInformation">
              <a [routerLink]="['/person', operator.personalInformation?.id, 'view']">{{ operator.personalInformation?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/operator', operator.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/operator', operator.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(operator)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
