<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="registration">
      <h2 data-cy="registrationDetailsHeading"><span jhiTranslate="albatestApp.registration.detail.title">Registration</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ registration.id }}</span>
        </dd>
        <dt><span jhiTranslate="albatestApp.registration.notes">Notes</span></dt>
        <dd>
          <span>{{ registration.notes }}</span>
        </dd>
        <dt><span jhiTranslate="albatestApp.registration.timestamp">Timestamp</span></dt>
        <dd>
          <span>{{ registration.timestamp | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="albatestApp.registration.legalConsentBlob">Legal Consent Blob</span></dt>
        <dd>
          <div *ngIf="registration.legalConsentBlob">
            <a (click)="openFile(registration.legalConsentBlob, registration.legalConsentBlobContentType)" jhiTranslate="entity.action.open"
              >open</a
            >
            {{ registration.legalConsentBlobContentType }}, {{ byteSize(registration.legalConsentBlob) }}
          </div>
        </dd>
        <dt><span jhiTranslate="albatestApp.registration.refugee">Refugee</span></dt>
        <dd>
          <div *ngIf="registration.refugee">
            <a [routerLink]="['/refugee', registration.refugee?.id, 'view']">{{ registration.refugee?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/registration', registration.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
