<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="person">
      <h2 data-cy="personDetailsHeading"><span jhiTranslate="albatestApp.person.detail.title">Person</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ person.id }}</span>
        </dd>
        <dt><span jhiTranslate="albatestApp.person.personalIdentifier">Personal Identifier</span></dt>
        <dd>
          <span>{{ person.personalIdentifier }}</span>
        </dd>
        <dt><span jhiTranslate="albatestApp.person.identifierType">Identifier Type</span></dt>
        <dd>
          <span>{{ person.identifierType }}</span>
        </dd>
        <dt><span jhiTranslate="albatestApp.person.firstName">First Name</span></dt>
        <dd>
          <span>{{ person.firstName }}</span>
        </dd>
        <dt><span jhiTranslate="albatestApp.person.lastName">Last Name</span></dt>
        <dd>
          <span>{{ person.lastName }}</span>
        </dd>
        <dt><span jhiTranslate="albatestApp.person.email">Email</span></dt>
        <dd>
          <span>{{ person.email }}</span>
        </dd>
        <dt><span jhiTranslate="albatestApp.person.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ person.phoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="albatestApp.person.firstSpokenLanguage">First Spoken Language</span></dt>
        <dd>
          <span jhiTranslate="{{ 'albatestApp.Language.' + person.firstSpokenLanguage }}">{{ person.firstSpokenLanguage }}</span>
        </dd>
        <dt><span jhiTranslate="albatestApp.person.secondSpokenLanguage">Second Spoken Language</span></dt>
        <dd>
          <span jhiTranslate="{{ 'albatestApp.Language.' + person.secondSpokenLanguage }}">{{ person.secondSpokenLanguage }}</span>
        </dd>
        <dt><span jhiTranslate="albatestApp.person.comingFrom">Coming From</span></dt>
        <dd>
          <div *ngIf="person.comingFrom">
            <a [routerLink]="['/location', person.comingFrom?.id, 'view']">{{ person.comingFrom?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/person', person.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
