<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="attachmentCategory">
      <h2 data-cy="attachmentCategoryDetailsHeading">
        <span jhiTranslate="albatestApp.attachmentCategory.detail.title">Attachment Category</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ attachmentCategory.id }}</span>
        </dd>
        <dt><span jhiTranslate="albatestApp.attachmentCategory.description">Description</span></dt>
        <dd>
          <span>{{ attachmentCategory.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/attachment-category', attachmentCategory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
