<div class="d-flex justify-content-center">
  <div class="col-8">
    <nav ngbNav #nav="ngbNav" class="nav-tabs">
      <ng-container ngbNavItem>
        <a ngbNavLink>Anagrafica</a>
        <ng-template ngbNavContent>
          <jhi-person-detail-form [editForm]="personForm" [comingFromsCollection]="comingFromsCollection"></jhi-person-detail-form>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>Dettagli</a>
        <ng-template ngbNavContent>
          <jhi-refugee-detail-form
              [editForm]="refugeeForm"
              [jobsSharedCollection]="jobsSharedCollection"
              [legalSurveysSharedCollection]="legalSurveysSharedCollection"
              [medicalSurveysSharedCollection]="medicalSurveysSharedCollection"
          ></jhi-refugee-detail-form>
          <jhi-event-detail-form
              [checkPointsCollection]="checkPointsCollection"
              [categoriesCollection]="categoriesCollection"
              [editForm]="eventForm"
          >
          </jhi-event-detail-form>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>QRCODE</a>
        <ng-template ngbNavContent>
          <h1>QRCODE</h1>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
