<div class="d-flex justify-content-center">
  <div class="col-8">
    <h2 id="jhi-event-heading" data-cy="EventCreateUpdateHeading" jhiTranslate="albatestApp.event.home.createOrEditLabel">
      Create or edit a Event
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-event-detail-form
        [editForm]="editForm"
        [categoriesCollection]="categoriesCollection"
        [checkPointsCollection]="checkPointsCollection"
        [operatorsCollection]="operatorsCollection"
        [registrationsSharedCollection]="registrationsSharedCollection"
    ></jhi-event-detail-form>
    <div>
      <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>
      <button
          (click)="save()"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
      >
        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
      </button>
    </div>
  </div>
</div>
